*.Rproj.user
*.Rhistory

*.Ruserdata
*.Rproj
src/*.o
src/*.so
*.dll
.Rproj.user
.DS_Store
.Rapp.history

# dont commit saved images or logs
/tests/testthat/logs_*
/tests/testthat/images/*
/tests/testthat/corRes_plot_1.html
/tests/testthat/corRes_plot_3.html
!tests/testthat/images/placeholder.txt
/doc/
/Meta/
