*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rproj
src/*.o
src/*.so
*.dll
.Rproj.user

# dont commit saved images
/tests/testthat/images/*
/tests/testthat/corRes_plot_1.html
/tests/testthat/corRes_plot_3.html
!tests/testthat/images/placeholder.txt
