# R files
*.Rproj.user
*.Rhistory
*.Ruserdata
*.Rproj
.Rproj.user
.Rapp.history
.RData

# cpp compilation artifacts
src/*.o
src/*.so
src/*.o.tmp

.DS_Store
*.dll

# 

# dont commit saved images or logs
/tests/testthat/logs_*
/tests/testthat/images/*
/tests/testthat/corRes_plot_1.html
/tests/testthat/corRes_plot_3.html
!tests/testthat/images/placeholder.txt
/doc/
/docs/
/Meta/
vignettes/*.R
vignettes/*.html

# vscode
.vscode/

untracked/